.conclusion {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;

    .cta {
        margin-top: 150px;
        text-align: center;

        @media(min-width: 1000px) {
            margin-top: 20em;
        }

    }

    .conclusion-wrapper {
    
        .image-wrapper {

            .button-wrapper {
                padding-top: 10px;
                display: flex;
            }

            @media (min-width: 1000px){
                padding-left: 50px;
            }
        }
    
        @media(min-width: 1000px) {
            display: flex;

            .desc {
                padding-right: 50px;

                p {
                    padding-right: 5em;

                    @media (min-width: 1530px) {
                        padding-right: 20em;
                    }
                }
            }
        }
    }

    @media (min-width: 1000px) {
        padding-top: 5em;
        padding-bottom: 10em;
    }
}