// Scope Styles
.scope {
    padding-top: 50px;
    padding-bottom: 50px;

    h3 {
        text-align: left;
    }

    .scope-img {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        margin: 0 auto;
    }

    @media (min-width: 1000px) {
        padding-top: 20em;
        padding-bottom: 20em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "desc image"
        ;

        .scope-content {
            grid-area: desc;
            padding-right: 10%;
        }

        .scope-img {
            grid-area: image;
        }
    }
}

// Design Styles
.design-process {
    padding-top: 50px;
    padding-bottom: 50px;

    @media (min-width: 1000px) {
        padding-top: 5em;

        h3 {
            padding-bottom: 8em;
        }
    }
}

.themes {

    .process-img {
        position: relative;
        text-align: center;
        margin: 0 auto;
    }

    @media (min-width: 380px) {
        .float {
            max-width: 50%;
            position: absolute;
            right: 1%;
            top: 50%;
        }
    }

    @media (min-width: 1000px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "images desc"
        ;
        
        .themes-desc {
            padding-left: 50px;
        }
    
        .process-img {
            padding-right: 15px;
            grid-area: images;

            .image-subtext {
                padding-top: 100px;

                @media (min-width:1100px) {
                    padding-top: 65px;
                }
            }
    
            .float {
                position: absolute;
                left: 50%;
                bottom: 2%;
            }
        }
    
        .themes-desc {
            grid-area: desc;
        }
    }
}

.colour-swatches {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
}

.colour {
    padding: 45px;

    @media (min-width: 500px) {
        padding: 75px;
    }
}

.white {
    padding: 43px;
    background-color: #fff;
    border: 2px solid $gray;

    @media (min-width: 500px) {
        padding: 73px;
    }
}

.dark {
    background-color: $dark;
}

.red {
    background-color: $main-colour;
}

// Steps Styles
.steps {

    .step-title {
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: 1.5em;
    }

    .grid-wrapper {
        margin: 0 auto;
    
        img {
            margin: 0 auto;
            text-align: left;
            margin-top: 15px;
            margin-bottom: 15px;
            border: 1px solid $dark;
    
            @media (min-width: 1140px) {
                max-width: 500px;
            }
        }
    
        @media(min-width: 1140px){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
            "content-desc content-img"
            "info-desc info-img"
            "wireframe wireframe-img"
            ;
    
            .content-map {
                padding-right: 50px;
                grid-area: content-desc;
            }
    
            .content-img {
                grid-area: content-img;
            }
    
            .info-arc {
                padding-right: 50px;
                grid-area: info-desc;
            }
    
            .info-img {
                grid-area: info-img;
            }
    
            .wireframe {
                padding-right: 50px;
                grid-area: wireframe;
            }
    
            .wireframe-img {
                grid-area: wireframe-img;
            }
        }
    }    
}
