.header-about {
    background-color: $dark;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.main-about {
    background-color: $dark;
    color: white;

    padding-right: 15px;
    padding-left: 15px;

    h1 {
        margin: 0;
    }

    .lead {
        font-size: 3vh;
        line-height: 2;
    }

    p {
        line-height: 3;
    }
}