.main-home {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
    .title {
        z-index: 999;
        position: absolute;
        font-size: 5vh;
        //@include setBG($text-colour);
        
        top: 35%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;

        

        // Animations
        animation: fadeIn ease 10s;
        -webkit-animation: fadeIn ease 2.5s;

        // Animation Keyframes
        @keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
            }
            
            @-moz-keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
            }
            
            @-webkit-keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
            }
            
            @-o-keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
            }
            
            @-ms-keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
        }

        // Media Queries
        @media(min-width: 420px) {
            font-size: 7vh;
        }

        @media(min-width: 500px) {
            font-size: 8vh;
        }

        @media(min-width: 550px) {
            font-size: 10vh;
        }
    }
}

.screen-wrapper {
    width: 100%;
    height: 100%;
}

.screen {
    width: 50%;
    height: 100vh;
    float: left;
    position: relative;
    z-index: 2;
}

.project-screen {
    background-color: rgb(255, 255, 255);
}

.about-screen {
    background-color: $dark;
    right: 0;
    transition: right ease 0.5s;
    position: relative;

    &#hover {
        right: 10px;
    }
}

