h1, h2, h3, h4, h5, a, .dark-colour {
    font-weight: 400;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }
  
  html ,p, .welcome {
    font-family: 'Cardo' ,'Sawarabi Mincho', sans-serif;
  }
  
  .image-subtext {
    font-family: 'Montserrat', sans-serif;
    color: #4F4F4F;
    margin: 0;
  }
  
  h2 {
    margin: 0;
    padding: 15px;
  }
  
  header h1 {
    margin: 0;
  }