html {
    background-color: #292929;
}

button {
    color: white;
}

a {
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.button-link {
    color: white;
    font-size: 13px;
    background-color: $main-colour;
}

a, p {
    line-height: 150%;
}

h1, h2, h3 {
    text-align: center;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4, h5 {
    font-size: 1.17em;
    font-weight: bold;
}

main {
    background-color: #fff;
}