.main-header {
    position: fixed;
    z-index: 999;
    width: 100%;

    .main-header-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .logo {
    width: 100%;
    }

    svg {
        padding: 15px;
    }

    nav button {
        padding: 0px;
        margin: 20px;
    }

    ul {
        list-style: none;
        padding: 0;
        padding-right: 20px;
    }

    li {
        margin-top: 20px;
        text-align: right;
    }

    a {
        font-display: none;
        color: white;
        padding: 0px;
    }

    .active {
        padding: 15px;
        padding-right: 0px;
    }

    a:hover {
        color: $main-colour;
        transition: .9s;
    }

}

.collapse {
    display: none;
}

.show {
    display: block;
}