/* Box sizing reset */
html {
  box-sizing: border-box;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
  margin: 0 auto;
}
/* Image resets */
img {
  max-width: 100%;
  height: auto;

}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Body Reset */
body {
  margin: 0;
  padding: 0;
  height: 100%; 
}