/* Box sizing reset */
html {
  box-sizing: border-box;
  box-sizing: inherit;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
  margin: 0 auto;
  //background-color: #0e0e0e;
}
/* Image resets */
img {
  max-width: 100%;
  height: auto;

}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Body Reset */
body {
  margin: 0;
  padding: 0;
  //background-color: #0e0e0e;
}